body{
  background-color: #f85859;
  background-image: linear-gradient( #f85859, #b48f8f );
  color: #15171b;
  font-family: 'Vollkorn', serif;

}
nav{
  font-size:2em;
}
h1{
  text-align: center;
  margin: 1em 0 ;
  font-size: 2em;
  color:  gainsboro;
}
header{
  width: 100%;
}
.title{
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: #48222F;
  height: 150px;

}
.title img{
  height: 108px;
  margin-right: 1em;
  margin-left: 1em;
}
footer{
background-color: #48222F;
margin-top: 19em;
color:  #fff;
display:flex;
justify-content: center;
align-items: center;
}
footer p {
padding-top:22px;
}

footer i {
  margin-left: 1em;

}
a:hover{
  text-decoration: none;
}
h2{
  font-family: 'Roboto Condensed', sans-serif;
  color: #48222F;
  font-size: 2.1em;
  margin:0 2em;
}
.go {
  width:25%;
  padding:9px;
  margin-left: 12%;
  margin-top:2em;
  text-align: center;
  font-size: 1.8em;
  color:#fff;
  border:1px solid #48222F;
  border-radius:8px;
  background-color:  #48222F;
}
.go:hover{
  background-color: #fff;
  color:#48222F;
  border: none;
  cursor: pointer;

}
imput[type=submit]{
  font-size:1.6em;
}
.api{
  width:100%;
  height:  50%;
  margin-bottom: 9em;
  margin-top: 4em;
  background-color:rgba(220,220,220,0.8);
  border:1px solid #48222F;
  color: #251f21;
  border-radius: 24px;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
}
.city{
  text-transform:uppercase;
  color:251f21;
  font-size:2em;
}
.description{
  font-size:1.2em;
  text-transform: capitalize;
}
.ajax img{
  height:120px;
  margin:10px;
}

@media (min-width: 375px){
  h2{
    font-size: 1.8em;
  }
  .fa-question{
    width:20%;
    margin-left: 40%;
  }
  footer{
  margin-top: 14em;
}
@media(min-width:425px){
  footer{
  margin-top: 16em;
  }
  .go{
    margin-left:16%;
  }
}

@media (min-width: 768px){
  .fa-question{
    width:12%;
    padding:20px 0;
    margin-left: 43%;
    text-align: center;
    font-size: 4em;
    color:#fff;
    border:1px solid #48222F;
    border-radius:30px;
    background-color:  #48222F;
  }
  h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: #48222F;
    font-size: 3.5em;
  }
  .go{
    margin-left:32%;
  }

}
@media (min-width: 1024px){

  .fa-question{
    width:10%;
    padding:20px 0;
    margin-left: 45%;
    text-align: center;
    font-size: 4em;
    color:#fff;
    border:1px solid #48222F;
    border-radius:30px;
    background-color:  #48222F;
  }
  footer{
  margin-top: 17em;
}
.go{
  margin-left:36%;
}

  }
@media (min-width: 1440px){
  .fa-question{
    width:5%;
    padding:20px 0;
    margin-left: 47%;
    text-align: center;
    font-size: 4em;
    color:#fff;
    border:1px solid #48222F;
    border-radius:30px;
    background-color:  #48222F;
  }
  .go{
    margin-left:40%;
  }

}
@media(min-width:1900px){
  footer{
  margin-top: 24em;
}
.go{
  margin-left:42%;
}
}
