h2{
  color:  #48222F;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Vollkorn', serif;
}
thead {
  font-size: 1.3em;
}
td {
  font-size: 1.3em;
  color:#fff;
}
.add{
  margin-left: 2em;
}
.btn-primary {
  background-color: #48222F;
  border:none;
  box-shadow: 2px 2px 4px 1px black;

}
.btn-primary:hover{
  background-color: #fff;
  color:#48222F;
  box-shadow: none;
}
.btn-voir {
  background-color: rgba(1250,179,245,1);
  border:none;
}
.btn-voir:hover{
  background-color: #48222F;
  color:#fff;
  box-shadow: 2px 2px 4px 1px black;
}
.btn-edit {
  background-color: #6f42c1;
  border:none;
}
.btn-edit:hover{
  background-color: #48222F;
  color:#fff;
  box-shadow: 2px 2px 4px 1px black;
}
.btn-delete{
  background-color: red;
}
.btn-delete:hover{
  background-color: #48222F;
  color:#fff;
  box-shadow: 2px 2px 4px 1px black;
}
.fa-tag{
  font-size: .7em;
}
.fa-pencil-alt, .fa-trash-alt, .fa-eye{
  font-size: 1.2em;
  
  
}
img{
  max-width:60px;
  border:solid 1px black;
}
.fa-arrow-circle-up{
  font-size: 3em;
  color:black;
}
.table{
  text-align: center;

}

@media (min-width:375px) {


  .title{
    font-size: 0.5em;

  }
  .title img{
    height:80px;
    margin-left:1em;
  }
  h2{
    font-size: 2em;
  }
  .add{
  font-size: 1.5em;
  }

  table{
    font-size:0.8em;
    margin-left: 1em;
  }
  .table{
      width:430px;
  }


  header{
  width:430px;

  }

  table img{
    max-width:50px ;
  }
  .fa-pencil-alt, .fa-trash-alt, .fa-eye{
    font-size: 1.1em;;
  }
  .action{
    display: flex;
    flex-direction: column;
    /* align-content: :flex-start; */
  }
  .action button{
    margin-bottom: 0.3em;
  }


}

@media (min-width: 425px){
  .title{
    font-size: 0.5em;

  }
  .title img{
    height:80px;
    margin-left:1em;
  }

  h2{
    font-size:2.3em;
  }
  header{
    width:526px;
  }



  .add{
    margin-left: 4em;
  }
  table{
    font-size:1em;
    margin-left: 0;

  }
  .table {
    max-width:108%!important;
    width:526px;
  }


  table img{
    max-width:50px ;
  }
  .fa-pencil-alt, .fa-trash-alt, .fa-eye{
    font-size:1.5em!important;
  }
  .action{
    display: flex;
    flex-direction: column;
    /* align-content: :flex-start; */
  }
  .action button{
    margin-bottom: 0.3em;
  }
  nav{
    font-size: 1.1em;
  }

  td{
padding-left:0!important;
padding-right:0!important;
  }
  th{
padding-left:0!important;
padding-right:1em!important;
  }
}

@media (min-width:768px){

  header{
    width:768px;
  }
  h1{
    font-size: 6em;
  }
  .title img{
    margin-left: 6em;
    width:40%;
    height:0%;

  }
  .table{
    width:768px;

  }

  .table img{
    max-width:120px;
  }
  h2{
    font-size: 4em;
  }
  .add{
    margin-left:0;
  }
}
@media (min-width:1024px){
header{
  width:102%;
}
.table{
  width: 100%;
  font-size:1.8em;
}
h1{
  font-size: 13em;
}
h2{
  font-size:5em
}
button{
  font-size: 1em!important;
}
.table img{
  max-width:200px;
}
.fa-pencil-alt, .fa-trash-alt, .fa-eye{
  font-size: 1.1em!important;
}
nav{
  font-size: 1.5em;
}

}
