h2{
  color:white;
  font-family: 'Vollkorn', serif;

}

.form-error-message{
  color:black;
  text-decoration: underline;
}

label{
  font-size:1.5em;
}

option{
  font-size:1.5em;
}

input[type=submit]{
  font-size: 2em;
  margin-top: 2em;
  background-color: rgba(139,149,160,0.64);
  border-color: #686c70;
}
nav{
  font-size:1.5em;
}
.form-control{
  font-size:.9rem;
}
@media (min-width:425px){
  h2{
    width: 64%!important;

  }
}
@media (min-width: 768px){
  .title img{
    margin-left:2em;
  }
}
